<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DebugCatchReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="ai.timesovereignty.privateapp.DEBUG_LOCAL_CATCH" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
